body {
  background-color: rgb(134, 188, 129);
}

img {
  width: 100px;
    display: block;
}
h1 {
  color: rgba(98, 59, 59, 0.97);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
    font-size: larger;
    font-style: italic;
}
